APP_NAME="Hardware Trojan Detector"
API_V1_STR="/api/v1"
MODEL_PATH="../TROJAN-ANALYSIS/Dataset/best_model.pkl"
PREPROCESSOR_PATH="../TROJAN-ANALYSIS/Dataset/preprocessor_params.pkl"
RESULTS_DIR="./static/results"
UPLOADS_DIR="./static/uploads"
CORS_ORIGINS=["*"]
DEBUG=True
